/*<meta />*/

span.SearchHighlight1
{
	color: #000000;
	background-color: #ffff66;
}

span.SearchHighlight2
{
	color: #000000;
	background-color: #a0ffff;
}

span.SearchHighlight3
{
	color: #000000;
	background-color: #99ff99;
}

span.SearchHighlight4
{
	color: #000000;
	background-color: #ff9999;
}

span.SearchHighlight5
{
	color: #000000;
	background-color: #ff66ff;
}

span.SearchHighlight6
{
	color: #ffffff;
	background-color: #880000;
}

span.SearchHighlight7
{
	color: #ffffff;
	background-color: #00aa00;
}

span.SearchHighlight8
{
	color: #ffffff;
	background-color: #886800;
}

span.SearchHighlight9
{
	color: #ffffff;
	background-color: #004699;
}

span.SearchHighlight10
{
	color: #ffffff;
	background-color: #990099;
}

MadCap|xref
{
	color: #008b8b;
}

